@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "NT";
  src: url("./assets/fonts/NT-Wagner.otf");
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis-Regular.otf");
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: #f7f7f7;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #e0251b;
}

header * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Oswald;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.15;
}

.header {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #1f1f1f;
}

.header .top .top-desk {
  background: #474747;
  margin: 0.7rem 0.7rem 0;
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

.header .top .top-desk a {
  color: #fff;
  text-decoration: none;
}

.header .top .top-desk .wrap-top-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 1rem;
}

.header .top .top-desk .wrap-top-desk button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 1;
  height: 100%;
  transition: background 200ms linear;
}

.header .top .top-desk .wrap-top-desk button:hover {
  background-color: #773438;
}

.header .top .top-desk .wrap-top-desk button:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.header .top .top-desk .wrap-top-desk button:first-child::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("/img/icon/user.svg");
  background-position: center;
  background-size: contain;
}

.header .top .top-desk .wrap-top-desk button svg {
  width: 12px;
  height: fit-content;
}

.header .top {
  width: 100%;
}

.header .top .top-principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 4.5%;
}

.header .top .top-principal .right-desk {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

nav.navbar-desk {
  width: 80%;
}

nav.navbar-desk ul:first-child {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.nav-desk li a {
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 0.8rem 0.6rem;
}

li#shopDesk {
  position: relative;
  transition: all 400ms ease;
}

li#shopDesk #navshopdesk {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  position: absolute;
  top: 35px;
  padding: 20px 0;
  list-style: none;
  background-color: #1f1f1f;
  width: 288px;
}

li#shopDesk:hover > #navshopdesk {
  opacity: 1;
  pointer-events: all;
}

ul#navshopdesk li {
  position: relative;
}

li#shopDesk #navshopdesk li a {
  font-size: 12.6px;
  transition: all 0.5s ease;
  padding: 0.55rem 0 0.55rem 0.55rem;
}

li#shopDesk #navshopdesk a:hover {
  background-color: #e1251b;
}

li#shopDesk #navshopdesk .nav-dropdown {
  display: none;
  background-color: black;
  list-style: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
}

li#shopDesk #navshopdesk li:hover > .nav-dropdown {
  display: block;
}

li#shopDesk #navshopdesk .nav-dropdown li a {
  background-color: #e1251b;
}

li#shopDesk #navshopdesk .nav-dropdown li a:hover {
  background-color: #1f1f1f;
}

.header .top .top-principal .right-desk .search-group {
  width: 30%;
  max-width: 182px;
  margin: 0;
}

.header .top .left a .logo {
  width: 70px;
  height: auto;
}

.header .top .left .menu {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.header .top .left .menu svg {
  width: 28px;
  height: auto;
}

.header .top .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.header .top .right button {
  border: 0;
  background-color: transparent;
  width: 30px;
  padding: 0.5rem;
}

.header .top .right button svg {
  width: 15px;
  height: auto;
}

.navbar-mb {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  transition: transform 200ms linear;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1f1f1f;
  pointer-events: none;
  transform: translate3d(-100%, 0px, 0px);
}

.show {
  transform: translate3d(0, 0px, 0px);
  pointer-events: all;
}

.navbar-mb .nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1.3rem 0.5rem;
  border-bottom: 1px solid #fff;
  margin-bottom: 1.5rem;
}

.navbar-mb .nav-header .logo {
  width: 70px;
  height: fit-content;
}

.navbar-mb .nav-header #closeMenu {
  border: 0;
  background-color: transparent;
  padding: 0.4rem;
}

.navbar-mb .nav-header #closeMenu svg {
  width: 23px;
  height: auto;
}

.search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  width: 90%;
  margin: 0 auto 1.5rem;
  padding: 0.1rem 0.8rem;
}

.search-group input {
  background-color: transparent;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
}

.search-group input:focus-visible {
  outline: transparent;
}

.search-group input::placeholder {
  font-weight: 400;
  letter-spacing: 1px;
}

.search-group button {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0.5rem;
}

.search-group button svg {
  width: 18px;
  height: fit-content;
}

.nav-mb {
  list-style: none;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-mb li {
  width: 100%;
}

.nav-mb li#shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-mb li a,
.nav-mb li button {
  border: 0;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mb li button {
  width: 94%;
}

.nav-mb li button span {
  color: #979899;
  pointer-events: none;
}

.navbar-mb .nav-shop {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background: red;
  transition: all 400ms ease-out;
  width: 96%;
  height: 0;
  pointer-events: none;
  opacity: 0;
  display: none;
}

.navbar-mb .nav-shop.collapse {
  height: auto;
  pointer-events: all;
  opacity: 1;
  display: flex;
}

.navbar-mb .nav-shop li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.navbar-mb .nav-shop li button,
.navbar-mb .nav-shop li a {
  border: 0;
  text-decoration: none;
  width: 100%;
  padding: 0.7rem 1.3rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-mb .nav-shop li button p,
.navbar-mb .nav-shop li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  pointer-events: none;
}

.navbar-mb .nav-shop li button span {
  color: #fff;
}

.navbar-mb .nav-shop .nav-dropdown {
  width: 97%;
  list-style: none;
  padding-left: 0.75rem;
  transition: all 400ms ease-out;
  height: 0;
  background-color: #d30a00;
}

/* estilos collapse */
.navbar-mb .nav-shop .nav-dropdown.collapse {
  height: auto;
  padding: 0;
}

.navbar-mb .nav-shop .nav-dropdown.collapse a {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.navbar-mb .nav-shop .nav-dropdown a {
  display: none;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0.7rem 0.5rem 0.7rem 1rem;
  text-decoration: none;
}

/* Aquí empiezan los estilos del landing */

.academia-reposteria * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.academia-reposteria ul {
  list-style: none;
}

.section--welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.section--welcome .container-banner {
  width: 100%;
}

.section--welcome .container-banner .user-bar {
  background-color: #70c8d4;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section--welcome .container-banner .user-bar button {
  font-family: "Metropolis";
  text-transform: uppercase;
  font-weight: 700;
}

.section--welcome .container-banner .user-bar .go-login {
  border: 0;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
}

.section--welcome .container-banner .user-bar .go-register {
  border: 0;
  background-color: #f25198;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.section--welcome .container-banner .banner {
  height: 240px;
  background-image: url("./assets/img/banners/banner-principal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-welcome-top {
  margin-top: -6rem;
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-top-content {
  position: relative;
  background-color: #f25198;
  border-top: 3px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  max-width: 670px;
  width: 100%;
  max-height: 290px;
}

.welcome-top-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.welcome-top-img .logo-academia {
  max-width: 480px;
}

.welcome-top-img .logo-gourmet {
  width: 50%;
  max-width: 180px;
  position: relative;
  top: -1rem;
}

.welcome-chevron {
  position: absolute;
  top: 95%;
  background-color: #f25198;
  height: 40px;
  width: 70px;
  border-radius: 0 0 150px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.welcome-chevron img {
  width: 50%;
}

.welcome-main-text {
  padding: 3rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  color: #707070;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.welcome-main-text .block-text {
  width: 90%;
}

.welcome-main-text .block-text .text-bold {
  font-weight: 700;
  color: #707070;
}

.welcome-main-text .block-text .dotted-text {
  padding: 0 1rem;
  border: 3px dotted #f25198;
}

.welcome-main-text .pink-text {
  font-weight: 700;
  color: #f25198;
}

.welcome-main-text .block-text p,
.welcome-main-text .block-text h1 {
  display: inline;
  font-size: 1.1rem;
}

.welcome-main-text .block-text h1 {
  color: #f25198;
}

.section--welcome .principal-video {
  width: 100%;
  height: 370px;
  background-image: url("./assets/img/banners/video-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.section--welcome .principal-video .play-video {
  border: 0;
  background-color: transparent;
  width: 100px;
  height: fit-content;
}

.section--welcome .principal-video .play-video img {
  width: 100%;
  height: auto;
}

.section--welcome .principal-video .view-video {
  border: 0;
  background-color: #f25198;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.8rem 5rem;
  border-radius: 5px;
}

.section--courses .tag-main {
  position: relative;
  background-color: #c3a4d9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
}

.tag-main h2 {
  font-family: "NT", sans-serif;
  text-align: center;
  font-size: 1.7rem;
}

.tag-main-logo {
  position: relative;
  z-index: 2;
  width: fit-content;
  margin: 1rem 0 0.5rem;
}

.tag-main-chevron {
  position: absolute;
  top: 95%;
  background-color: #c3a4d9;
  height: 50px;
  width: 80px;
  border-radius: 0 0 150px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container-courses {
  padding: 4rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-courses ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.container-card-course {
  width: 100%;
}

.container-courses .card-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.container-courses .card-course .card-course-img {
  width: 100%;
  max-height: 242px;
  object-fit: cover;
}

.card-course .card-course-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  padding-bottom: 2rem;
}

.container-courses .card-course .card-course-title {
  font-family: "NT";
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  padding: 5px 1rem;
  background-color: #70c8d4;
  color: white;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-courses .card-course .card-course-title h3 {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

.card-course-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-courses .card-course .card-course-info .card-course-bajada {
  font-family: "Metropolis";
  font-weight: 300;
  width: 100%;
  padding: 1.5rem 0;
  line-height: 20px;
}

.container-courses .card-course .card-course-info .card-course-button {
  border: 0;
  background-color: #f25198;
  color: white;
  font-family: "Metropolis";
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-courses .card-course .card-course-info .card-course-button img {
  width: 10px;
  height: fit-content;
}

.container-courses .card-course-expand {
  display: none;
}

/* Expand card course */
.card-course .card-course-expand {
  background-color: #f4accb;
  color: white;
}

.container-courses .active.card-course {
  box-shadow: none;
}

.active.card-course .card-course-bottom {
  background-color: #f4accb;
  color: white;
}

.active.card-course .card-course-expand {
}

.banner-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-image: url("./assets/img/banners/banner-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1rem 2.5rem;
}

.banner-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.logo-academia {
  width: 100%;
  max-width: 330px;
  height: auto;
}

.logo-gourmet {
  width: 100%;
  max-width: 170px;
  height: auto;
}

.banner-bottom-content .logo-academia {
  position: relative;
  bottom: -0.8rem;
}

@media (min-width: 768px) {
  .section--welcome .container-banner .user-bar button {
    font-size: 1.2rem;
  }

  .section--welcome .container-banner .user-bar .go-login {
    padding: 0.8rem 1rem;
  }

  .section--welcome .container-banner .user-bar .go-register {
    padding: 0.8rem 2rem;
    border-radius: 10px;
  }

  .welcome-top-content {
    border-top: 7px solid white;
    width: 80%;
  }

  .welcome-top-img .logo-gourmet {
    top: -2rem;
  }

  .welcome-main-text {
    margin: 3rem 0 2rem;
    box-shadow: none;
  }

  .container-courses ul {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    column-gap: 1rem;
    width: 90%;
  }

  .container-card-course {
    width: 48%;
  }

  .container-courses .card-course .card-course-title {
    min-height: 14vh;
  }

  .container-courses .card-course .card-course-title h3 {
    padding: 0;
  }

  .container-courses .card-course .card-course-title span {
    width: 100%;
  }

  .card-course-info {
    width: 90%;
  }

  .container-courses .card-course .card-course-info .card-course-bajada {
    min-height: 208px;
  }

  .banner-bottom-content {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }

  .header .top .left a .logo {
    width: fit-content;
    height: 42px;
  }

  .header .top .right {
    display: none;
  }

  .header .top .top-desk {
    display: flex;
  }

  .header .top .top-principal .right-desk {
    display: flex;
  }

  /* Aquí empiezan los estilos del landing */

  .section--welcome .container-banner .user-bar {
    height: 80px;
    justify-content: flex-end;
    padding: 0 4rem;
  }

  .section--welcome .container-banner .banner {
    height: 320px;
  }

  .section--courses .tag-main {
    flex-direction: row;
    gap: 1rem;
  }

  .tag-main-logo {
    margin: 0;
    max-width: 200px;
  }

  .tag-main h2 {
    font-size: 2rem;
  }

  .welcome-main-text .block-text {
    width: 85%;
  }

  .welcome-main-text .block-text p,
  .welcome-main-text .block-text h1 {
    font-size: 1.5rem;
  }

  .container-courses .card-course .card-course-title {
    min-height: 60px;
  }

  .container-courses .card-course .card-course-info .card-course-bajada {
    min-height: 168px;
  }
}

@media (min-width: 1200px) {
  .container-courses .card-course .card-course-info .card-course-bajada {
    min-height: 148px;
  }
}

@media (min-width: 1440px) {
  .section--courses .tag-main {
    height: 180px;
  }

  .tag-main h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1455px) {
  .container-courses .card-course .card-course-info .card-course-bajada {
    min-height: 128px;
  }
}
